@import '../style.scss';

.i-input {
  display: flex;
  align-items: center;
  height: 49px;
  padding: 0 15px;
  font-size: 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;

  .label {
    color: #333333;
    padding-right: 15px;
  }

  .field {
    flex: 1;
    text-align: right;
    color: #666666;
    display: flex;

    input {
      flex: 1;
      width: 100%;
      font-size: 15px;
      border: 0;
      outline: none;
      color: #666666;
      text-align: right;
    }

    input::placeholder {
      color: #999999;
    }
  }
}