@import '../style.scss';

.i-toast {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none;

  .box {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    min-width: 80px;
    max-width: 300px;
    padding: 10px 15px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 150%;
  }
}